@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: "Raleway", sans-serif;
}

.sec-defaults {
  height: 100vh;
  overflow: hidden;
}

.header {
  width: 100rem;
  height: 6rem;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2rem;
  margin: 0 auto;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141923;
  border-radius: 3.5rem;
  z-index: 10;
}

.logo {
  width: 15rem;
  padding: 0 2rem;
}

.nav-links {
  font-size: 1.6rem;
  margin: 0 6rem;
  text-decoration: none;
  color: white;
}

.nav-links:hover {
  color: #20fcf2;
}

.hero-img {
  width: 100vw;
  position: relative;
  top: -12rem;
  z-index: -10;
}

.stroke-effect {
  -webkit-text-stroke-width: 0.3rem;
  color: transparent;
}

.hero-stroke {
  -webkit-text-stroke-color: #20fcf2;
}

.hero-title {
  font-family: "Orbitron", sans-serif;
  color: cyan;
  font-size: 5rem;
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translateX(-50%);
}

.hero-title > h3 {
  font-size: 6rem;
}

.hero-title > h1 {
  font-size: 16rem;
  margin-top: -6rem;
  transition: 1s ease;
}

.hero-title > h1:hover {
  text-shadow: 2px 2px 6rem #ff21e1;
}

.hero-caption {
  color: white;
  font-size: 2.5rem;
  position: absolute;
  top: 84%;
  left: 50%;
  transform: translateX(-50%);
}

.btn {
  text-decoration: none;
  padding: 0.5rem 2rem;
  color: white;
}

.btn-explore {
  font-size: 2rem;
  border: 0.2rem solid #20fcf2;
  background-color: #20fcf2;
  color: black;
  border-radius: 2rem;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

.btn-explore:hover {
  border-radius: 2rem;
  background-color: #14c5bc;
  color: white;
  padding: 0.5rem 3rem;
}

.overview {
  max-width: 120rem;
  margin: 0 auto;
}

.overview > h1 {
  font-size: 4rem;
  color: white;
  font-family: "Orbitron", sans-serif;
  margin-top: 12rem;
}

.overview > p {
  color: white;
  font-size: 2rem;
  width: 50rem;
  line-height: 3rem;
  margin-top: 4rem;
}

.stroke-exil {
  display: block;
  font-size: 12rem;
  margin-top: -2rem;
  -webkit-text-stroke-color: #d62f45;
  color: transparent;
  transition: text-shadow 0.5s ease, transform 0.5s ease;
}

.stroke-exil:hover {
  transform: translateX(3%);
  text-shadow: 0 0 10px rgb(228, 49, 82), 0 0 60px #fc2048;
}

.overview-img {
  position: relative;
  right: -40%;
  top: -60%;
  transform: scale(120%);
  z-index: -1;
}

.tech-caption {
  text-align: center;
  margin-top: 15rem;
}

.tech-caption > * {
  font-size: 6rem;
  font-family: "Orbitron", sans-serif;
  margin: 0 2rem;
}

.tech-title-1 {
  color: #befff7;
}

.tech-stroke-1 {
  -webkit-text-stroke-color: #20fcf2;
}
.tech-title-2 {
  color: #ffd0d6;
}

.tech-stroke-2 {
  -webkit-text-stroke-color: #fc2048;
}

.tech-info {
  color: white;
  width: 30%;
  float: right;
  margin: 4rem 15rem;
}

.tech-info > p {
  font-size: 2rem;
  margin-top: 5rem;
  line-height: 3rem;
}

.tech-img {
  position: relative;
  z-index: -10;
  top: -105%;
  left: -15%;
  transform: scale(80%);
}

.media {
  color: white;
  max-width: 120rem;
  margin: 0 auto;
}

.media-caption {
  font-family: "Orbitron", sans-serif;
  -webkit-text-stroke-color: #20fcf2;
  font-size: 6rem;
  margin-top: 10rem;
  text-align: center;
}

.video-content {
  display: flex;
  justify-content: space-around;
}

.video-1,
.video-2 {
  width: 45rem;
}

.thumbnail {
  width: 45rem;
  margin: 2rem 0 0 0;
  transition: transform 0.3s ease;
}

.video-container {
  height: 100vh;
  width: 100vw;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 100;
}

.video-player {
  width: 80vw;
  position: fixed;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.btn-close {
  color: white;
  font-size: 4rem;
  cursor: pointer;
  position: absolute;
  top: -5%;
  right: -5%;
}

.hidden {
  display: none;
}

.stop-scroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.thumbnail:hover {
  transform: scale(1.05);
}

.video-content h3 {
  font-size: 3rem;
  margin: 2rem 0;
}

.video-content p {
  font-size: 2rem;
  line-height: 3rem;
}
.prebook {
  margin: 0 auto;
}

.prebook-caption {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  margin-top: 14rem;
}

.prebook-title-1 {
  font-size: 6rem;
  color: #20fcf2;
}

.prebook-title-2 {
  font-size: 6rem;
  position: relative;
  top: -48%;
  -webkit-text-stroke-color: #20fcf2;
}

form {
  width: 50rem;
  margin: 0 auto;
}

.row {
  color: white;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}

label {
  font-size: 2rem;
}

input {
  width: 30rem;
  height: 5rem;
  border: none;
  border-radius: 5rem;
  outline: none;
  padding: 0 2rem;
  color: white;
  font-size: 2rem;
  background: rgba(255, 255, 255, 0.3);
}

.input-address {
  resize: none;
  font-family: "Raleway", sans-serif;
  height: 15rem;
  border: none;
  border-radius: 3rem;
  outline: none;
  padding: 2rem 2rem;
  color: white;
  font-size: 2rem;
  background: rgba(255, 255, 255, 0.3);
}

.submit {
  font-family: "Raleway", sans-serif;
  color: black;
  background-color: #20fcf2;
  padding: 1rem 3rem;
  font-size: 2rem;
  border-radius: 1.5rem;
  margin-top: 4rem;
  float: right;
  transition: transform 0.3s ease;
}

.submit:hover {
  cursor: pointer;
  transform: translateX(-1rem);
}

.prebook-img {
  width: 100vw;
  position: relative;
  top: -85%;
  z-index: -10;
  opacity: 0.4;
}

.response-style {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.response-style h1 {
  font-size: 10rem;
  -webkit-text-stroke-color: #20fcf2;
  transition: transform 0.3s ease;
}

.response-style > h1:hover {
  transform: translateX(3%);
}

.footer {
  color: white;
  max-width: 120rem;
  margin: 0 auto;
  padding: 4rem 0;
}

.footer > * {
  font-size: 1.2rem;
}

.footer > p {
  padding: 1.5rem 0;
}
